RewriteEngine On
RewriteRule ^bikes/?$ bikes.php [NC,L]
RewriteRule ^bikes/([0-9]+)/?$ bikes.php?id=$1 [NC,L]
RewriteRule ^stock/?$ stock.php [NC,L]
RewriteRule ^stock/([0-9]+)/?$ stock.php?id=$1 [NC,L]
RewriteRule ^users/?$ users.php [NC,L]
RewriteRule ^users/([0-9]+)/?$ users.php?id=$1 [NC,L]